
.loginpage{
    width: 30%;
    margin:15vh auto;
    
}
.login-form-button{
    width:100%;
}
.reg-page{
    margin-top: 15vh;
}
.avatar-uploader {
margin-left:46vw;

}

.reg-form{
    float: left;
    width: 20%;
    margin-left:40vw;
    
}
.erro-msg{
    color:red;
    font-size: 2vh;
}
.info-head{
    background: rgb(141, 160, 120);
    height: 6vh;
    overflow: auto;
}
.comment-list{
    background:green;
   
}
.comment-item{
    background:rgb(243, 245, 242);
    margin: 2px auto;
    
}
