
.loginpage{
    width: 30%;
    margin:15vh auto;
    
}
.login-form-button{
    width:100%;
}
.reg-page{
    margin-top: 15vh;
}
.avatar-uploader {
margin-left:46vw;

}

.reg-form{
    float: left;
    width: 20%;
    margin-left:40vw;
    
}
.erro-msg{
    color:red;
    font-size: 2vh
}
.comment-list{
    background: #ccc
}